<div class="container p-2">
  <h3>mf-angular-b</h3>
  <p>
    This is another Angular Micro-Frontend & the script for this is included in
    the same script as that of mf-angular-a (as they are in same Angular
    project)
  </p>
  <div class="input-group input-group-sm mt-3 mb-1 px-5">
    <span class="input-group-text">Send to Parent</span>
    <input
      type="text"
      class="form-control"
      placeholder="Data to send to Parent"
      ngModel
      (ngModelChange)="outputMsg.emit($event)"
    />
  </div>
  <div class="input-group input-group-sm mb-3 px-5">
    <input
      type="text"
      class="form-control"
      placeholder="No data recieved from  Parent"
      readonly
      [ngModel]="inputMsg"
    />
    <span class="input-group-text">Recieved from Parent</span>
  </div>
</div>
